
body{
   background-image: url(-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}


header{

padding:lem ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul
{list-style-type: none ;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: none;
}
li{
    float: right;
}
li a{
    display: block;
    color:black;
    padding-right: 0.7em;
    text-decoration: none;
}
li a:hover{

    background-color:azure;
}